@model IList<CustomerViewModel>

<form asp-controller="Customers" asp-action="Create" method="get">
    <button class="btn btn-default" type="submit">Add Customer</button>
</form>
<table>
    <tr>
        <th>Name</th>
        <th>BirthDate</th>
        <th>Young Driver</th>
    </tr>
    @foreach (var customer in Model)
    {
        <tr>
            <td>@customer.Name </td>
            <td>@customer.BirthDate.ToShortDateString() </td>
            <td>@(customer.IsYoungDriver ? "Yes" : "No") </td>
            <td><a asp-area="" asp-controller="Customers" asp-action="Edit" asp-route-id=@customer.Id>Edit</a></td>
        </tr>
    }
</table>